@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("_CacheController")
    <title>社區疫苗接種便民服務管理後台</title>

<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.jzxa75.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.jzxa75.js" rel="prefetch"><link href="/loginLogin.jzxa75.css" rel="prefetch"><link href="/loginLogin.jzxa75.js" rel="prefetch"><link href="/chunk-common.jzxa75.js" rel="preload" as="script"><link href="/chunk-vendors.jzxa75.css" rel="preload" as="style"><link href="/chunk-vendors.jzxa75.js" rel="preload" as="script"><link href="/login.jzxa75.js" rel="preload" as="script"><link href="/chunk-vendors.jzxa75.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>
<script type="text/javascript" src="/chunk-vendors.jzxa75.js"></script><script type="text/javascript" src="/chunk-common.jzxa75.js"></script><script type="text/javascript" src="/login.jzxa75.js"></script></body>
</html>
