@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("_CacheController")
    <title>里辦疫苗接種便民服務網路報名系統</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />
    <!--<style>
        *:not(i) {
            font-family: 'Noto Sans TC', sans-serif !important;
        }
    </style>-->
<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.hdshkn.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.hdshkn.js" rel="prefetch"><link href="/regist-Agree.hdshkn.css" rel="prefetch"><link href="/regist-Agree.hdshkn.js" rel="prefetch"><link href="/regist-Agree~regist-Applied.hdshkn.css" rel="prefetch"><link href="/regist-Agree~regist-Applied.hdshkn.js" rel="prefetch"><link href="/regist-Agree~regist-Applied~regist-Apply~regist-Regist~regist-Unapply~regist-Welcome.hdshkn.css" rel="prefetch"><link href="/regist-Agree~regist-Applied~regist-Apply~regist-Regist~regist-Unapply~regist-Welcome.hdshkn.js" rel="prefetch"><link href="/regist-Agree~regist-Regist.hdshkn.css" rel="prefetch"><link href="/regist-Agree~regist-Regist.hdshkn.js" rel="prefetch"><link href="/regist-Applied.hdshkn.css" rel="prefetch"><link href="/regist-Applied.hdshkn.js" rel="prefetch"><link href="/regist-Apply.hdshkn.css" rel="prefetch"><link href="/regist-Apply.hdshkn.js" rel="prefetch"><link href="/regist-Oauth.hdshkn.js" rel="prefetch"><link href="/regist-Regist.hdshkn.css" rel="prefetch"><link href="/regist-Regist.hdshkn.js" rel="prefetch"><link href="/regist-Unapply.hdshkn.css" rel="prefetch"><link href="/regist-Unapply.hdshkn.js" rel="prefetch"><link href="/regist-Welcome.hdshkn.css" rel="prefetch"><link href="/regist-Welcome.hdshkn.js" rel="prefetch"><link href="/chunk-common.hdshkn.js" rel="preload" as="script"><link href="/chunk-vendors.hdshkn.css" rel="preload" as="style"><link href="/chunk-vendors.hdshkn.js" rel="preload" as="script"><link href="/regist.hdshkn.css" rel="preload" as="style"><link href="/regist.hdshkn.js" rel="preload" as="script"><link href="/chunk-vendors.hdshkn.css" rel="stylesheet"><link href="/regist.hdshkn.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>  
<script type="text/javascript" src="/chunk-vendors.hdshkn.js"></script><script type="text/javascript" src="/chunk-common.hdshkn.js"></script><script type="text/javascript" src="/regist.hdshkn.js"></script></body>
</html>
