@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
    <title>里辦疫苗接種便民服務網路報名系統</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />
    <!--<style>
        *:not(i) {
            font-family: 'Noto Sans TC', sans-serif !important;
        }
    </style>-->
<link href="/adminAudit~adminRegisted~adminRegistration~adminUsers~loginLogin~mainConfirm~mainForm~registAgree~re~5b853b95.oen5e7.css" rel="prefetch"><link href="/adminAudit~adminRegisted~adminRegistration~adminUsers~loginLogin~mainConfirm~mainForm~registAgree~re~5b853b95.oen5e7.js" rel="prefetch"><link href="/registAgree.oen5e7.css" rel="prefetch"><link href="/registAgree.oen5e7.js" rel="prefetch"><link href="/registAgree~registApplied.oen5e7.css" rel="prefetch"><link href="/registAgree~registApplied.oen5e7.js" rel="prefetch"><link href="/registAgree~registApplied~registApply~registRegist~registUnapply~registWelcome.oen5e7.css" rel="prefetch"><link href="/registAgree~registApplied~registApply~registRegist~registUnapply~registWelcome.oen5e7.js" rel="prefetch"><link href="/registAgree~registRegist.oen5e7.css" rel="prefetch"><link href="/registAgree~registRegist.oen5e7.js" rel="prefetch"><link href="/registApplied.oen5e7.css" rel="prefetch"><link href="/registApplied.oen5e7.js" rel="prefetch"><link href="/registApply.oen5e7.css" rel="prefetch"><link href="/registApply.oen5e7.js" rel="prefetch"><link href="/registOauth.oen5e7.js" rel="prefetch"><link href="/registRegist.oen5e7.css" rel="prefetch"><link href="/registRegist.oen5e7.js" rel="prefetch"><link href="/registUnapply.oen5e7.css" rel="prefetch"><link href="/registUnapply.oen5e7.js" rel="prefetch"><link href="/registWelcome.oen5e7.css" rel="prefetch"><link href="/registWelcome.oen5e7.js" rel="prefetch"><link href="/chunk-common.oen5e7.js" rel="preload" as="script"><link href="/chunk-vendors.oen5e7.css" rel="preload" as="style"><link href="/chunk-vendors.oen5e7.js" rel="preload" as="script"><link href="/regist.oen5e7.css" rel="preload" as="style"><link href="/regist.oen5e7.js" rel="preload" as="script"><link href="/chunk-vendors.oen5e7.css" rel="stylesheet"><link href="/regist.oen5e7.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>  
<script type="text/javascript" src="/chunk-vendors.oen5e7.js"></script><script type="text/javascript" src="/chunk-common.oen5e7.js"></script><script type="text/javascript" src="/regist.oen5e7.js"></script></body>
</html>
