@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("_CacheController")
    <title>社區疫苗接種便民服務網路報名系統</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />
    <!--<style>
        *:not(i) {
            font-family: 'Noto Sans TC', sans-serif !important;
        }
    </style>-->
<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.a6wvjz.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.a6wvjz.js" rel="prefetch"><link href="/regist-Agree.a6wvjz.css" rel="prefetch"><link href="/regist-Agree.a6wvjz.js" rel="prefetch"><link href="/regist-Agree~regist-Applied.a6wvjz.css" rel="prefetch"><link href="/regist-Agree~regist-Applied.a6wvjz.js" rel="prefetch"><link href="/regist-Agree~regist-Applied~regist-Apply~regist-Regist~regist-Unapply~regist-Welcome.a6wvjz.css" rel="prefetch"><link href="/regist-Agree~regist-Applied~regist-Apply~regist-Regist~regist-Unapply~regist-Welcome.a6wvjz.js" rel="prefetch"><link href="/regist-Agree~regist-Regist.a6wvjz.css" rel="prefetch"><link href="/regist-Agree~regist-Regist.a6wvjz.js" rel="prefetch"><link href="/regist-Applied.a6wvjz.css" rel="prefetch"><link href="/regist-Applied.a6wvjz.js" rel="prefetch"><link href="/regist-Apply.a6wvjz.css" rel="prefetch"><link href="/regist-Apply.a6wvjz.js" rel="prefetch"><link href="/regist-Oauth.a6wvjz.js" rel="prefetch"><link href="/regist-Regist.a6wvjz.css" rel="prefetch"><link href="/regist-Regist.a6wvjz.js" rel="prefetch"><link href="/regist-Unapply.a6wvjz.css" rel="prefetch"><link href="/regist-Unapply.a6wvjz.js" rel="prefetch"><link href="/regist-Welcome.a6wvjz.css" rel="prefetch"><link href="/regist-Welcome.a6wvjz.js" rel="prefetch"><link href="/chunk-common.a6wvjz.js" rel="preload" as="script"><link href="/chunk-vendors.a6wvjz.css" rel="preload" as="style"><link href="/chunk-vendors.a6wvjz.js" rel="preload" as="script"><link href="/regist.a6wvjz.css" rel="preload" as="style"><link href="/regist.a6wvjz.js" rel="preload" as="script"><link href="/chunk-vendors.a6wvjz.css" rel="stylesheet"><link href="/regist.a6wvjz.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>  
<script type="text/javascript" src="/chunk-vendors.a6wvjz.js"></script><script type="text/javascript" src="/chunk-common.a6wvjz.js"></script><script type="text/javascript" src="/regist.a6wvjz.js"></script></body>
</html>
