@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>里辦疫苗接種便民服務管理後台</title>
    @Html.Partial("_CacheController")
<link href="/admin-Audit.8umxvq.css" rel="prefetch"><link href="/admin-Audit.8umxvq.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users.8umxvq.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users.8umxvq.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.8umxvq.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.8umxvq.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.8umxvq.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.8umxvq.js" rel="prefetch"><link href="/admin-Registed.8umxvq.css" rel="prefetch"><link href="/admin-Registed.8umxvq.js" rel="prefetch"><link href="/admin-Registration.8umxvq.css" rel="prefetch"><link href="/admin-Registration.8umxvq.js" rel="prefetch"><link href="/admin-Registration~mainForm.8umxvq.css" rel="prefetch"><link href="/admin-Registration~mainForm.8umxvq.js" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.8umxvq.css" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.8umxvq.js" rel="prefetch"><link href="/admin-Users.8umxvq.css" rel="prefetch"><link href="/admin-Users.8umxvq.js" rel="prefetch"><link href="/admin.8umxvq.css" rel="preload" as="style"><link href="/admin.8umxvq.js" rel="preload" as="script"><link href="/chunk-common.8umxvq.js" rel="preload" as="script"><link href="/chunk-vendors.8umxvq.css" rel="preload" as="style"><link href="/chunk-vendors.8umxvq.js" rel="preload" as="script"><link href="/chunk-vendors.8umxvq.css" rel="stylesheet"><link href="/admin.8umxvq.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>
<script type="text/javascript" src="/chunk-vendors.8umxvq.js"></script><script type="text/javascript" src="/chunk-common.8umxvq.js"></script><script type="text/javascript" src="/admin.8umxvq.js"></script></body>
</html>
