@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
    <title></title>
<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.jdgg62.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.jdgg62.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.jdgg62.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.jdgg62.js" rel="prefetch"><link href="/admin-Registration~mainForm.jdgg62.css" rel="prefetch"><link href="/admin-Registration~mainForm.jdgg62.js" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.jdgg62.css" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.jdgg62.js" rel="prefetch"><link href="/mainApi.jdgg62.js" rel="prefetch"><link href="/mainApi~mainConfirm~mainDialog~mainForm~mainLoading~mainMain~mainSteps~mainTable~mainTimepicker.jdgg62.js" rel="prefetch"><link href="/mainConfirm.jdgg62.js" rel="prefetch"><link href="/mainDialog.jdgg62.css" rel="prefetch"><link href="/mainDialog.jdgg62.js" rel="prefetch"><link href="/mainForm.jdgg62.css" rel="prefetch"><link href="/mainForm.jdgg62.js" rel="prefetch"><link href="/mainLoading.jdgg62.css" rel="prefetch"><link href="/mainLoading.jdgg62.js" rel="prefetch"><link href="/mainMain.jdgg62.css" rel="prefetch"><link href="/mainMain.jdgg62.js" rel="prefetch"><link href="/mainSteps.jdgg62.css" rel="prefetch"><link href="/mainSteps.jdgg62.js" rel="prefetch"><link href="/mainTable.jdgg62.css" rel="prefetch"><link href="/mainTable.jdgg62.js" rel="prefetch"><link href="/mainTimepicker.jdgg62.js" rel="prefetch"><link href="/chunk-common.jdgg62.js" rel="preload" as="script"><link href="/chunk-vendors.jdgg62.css" rel="preload" as="style"><link href="/chunk-vendors.jdgg62.js" rel="preload" as="script"><link href="/main.jdgg62.js" rel="preload" as="script"><link href="/chunk-vendors.jdgg62.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>
<script type="text/javascript" src="/chunk-vendors.jdgg62.js"></script><script type="text/javascript" src="/chunk-common.jdgg62.js"></script><script type="text/javascript" src="/main.jdgg62.js"></script></body>
</html>
