@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("_CacheController")
    <title></title>
<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.epyseo.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.epyseo.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.epyseo.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.epyseo.js" rel="prefetch"><link href="/admin-Registration~mainForm.epyseo.css" rel="prefetch"><link href="/admin-Registration~mainForm.epyseo.js" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.epyseo.css" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.epyseo.js" rel="prefetch"><link href="/mainApi.epyseo.js" rel="prefetch"><link href="/mainApi~mainConfirm~mainDialog~mainForm~mainLoading~mainMain~mainSteps~mainTable~mainTimepicker.epyseo.js" rel="prefetch"><link href="/mainConfirm.epyseo.js" rel="prefetch"><link href="/mainDialog.epyseo.css" rel="prefetch"><link href="/mainDialog.epyseo.js" rel="prefetch"><link href="/mainForm.epyseo.css" rel="prefetch"><link href="/mainForm.epyseo.js" rel="prefetch"><link href="/mainLoading.epyseo.css" rel="prefetch"><link href="/mainLoading.epyseo.js" rel="prefetch"><link href="/mainMain.epyseo.css" rel="prefetch"><link href="/mainMain.epyseo.js" rel="prefetch"><link href="/mainSteps.epyseo.css" rel="prefetch"><link href="/mainSteps.epyseo.js" rel="prefetch"><link href="/mainTable.epyseo.css" rel="prefetch"><link href="/mainTable.epyseo.js" rel="prefetch"><link href="/mainTimepicker.epyseo.js" rel="prefetch"><link href="/chunk-common.epyseo.js" rel="preload" as="script"><link href="/chunk-vendors.epyseo.css" rel="preload" as="style"><link href="/chunk-vendors.epyseo.js" rel="preload" as="script"><link href="/main.epyseo.js" rel="preload" as="script"><link href="/chunk-vendors.epyseo.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>
<script type="text/javascript" src="/chunk-vendors.epyseo.js"></script><script type="text/javascript" src="/chunk-common.epyseo.js"></script><script type="text/javascript" src="/main.epyseo.js"></script></body>
</html>
