@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("_CacheController")
    <title></title>
<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.jzxa75.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.jzxa75.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.jzxa75.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.jzxa75.js" rel="prefetch"><link href="/admin-Registration~mainForm.jzxa75.css" rel="prefetch"><link href="/admin-Registration~mainForm.jzxa75.js" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.jzxa75.css" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.jzxa75.js" rel="prefetch"><link href="/mainApi.jzxa75.js" rel="prefetch"><link href="/mainApi~mainConfirm~mainDialog~mainForm~mainLoading~mainMain~mainSteps~mainTable~mainTimepicker.jzxa75.js" rel="prefetch"><link href="/mainConfirm.jzxa75.js" rel="prefetch"><link href="/mainDialog.jzxa75.css" rel="prefetch"><link href="/mainDialog.jzxa75.js" rel="prefetch"><link href="/mainForm.jzxa75.css" rel="prefetch"><link href="/mainForm.jzxa75.js" rel="prefetch"><link href="/mainLoading.jzxa75.css" rel="prefetch"><link href="/mainLoading.jzxa75.js" rel="prefetch"><link href="/mainMain.jzxa75.css" rel="prefetch"><link href="/mainMain.jzxa75.js" rel="prefetch"><link href="/mainSteps.jzxa75.css" rel="prefetch"><link href="/mainSteps.jzxa75.js" rel="prefetch"><link href="/mainTable.jzxa75.css" rel="prefetch"><link href="/mainTable.jzxa75.js" rel="prefetch"><link href="/mainTimepicker.jzxa75.js" rel="prefetch"><link href="/chunk-common.jzxa75.js" rel="preload" as="script"><link href="/chunk-vendors.jzxa75.css" rel="preload" as="style"><link href="/chunk-vendors.jzxa75.js" rel="preload" as="script"><link href="/main.jzxa75.js" rel="preload" as="script"><link href="/chunk-vendors.jzxa75.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>
<script type="text/javascript" src="/chunk-vendors.jzxa75.js"></script><script type="text/javascript" src="/chunk-common.jzxa75.js"></script><script type="text/javascript" src="/main.jzxa75.js"></script></body>
</html>
