@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("_CacheController")
    <title></title>
<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.arhxvo.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.arhxvo.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.arhxvo.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.arhxvo.js" rel="prefetch"><link href="/admin-Registration~mainForm.arhxvo.css" rel="prefetch"><link href="/admin-Registration~mainForm.arhxvo.js" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.arhxvo.css" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.arhxvo.js" rel="prefetch"><link href="/mainApi.arhxvo.js" rel="prefetch"><link href="/mainApi~mainConfirm~mainDialog~mainForm~mainLoading~mainMain~mainSteps~mainTable~mainTimepicker.arhxvo.js" rel="prefetch"><link href="/mainConfirm.arhxvo.js" rel="prefetch"><link href="/mainDialog.arhxvo.css" rel="prefetch"><link href="/mainDialog.arhxvo.js" rel="prefetch"><link href="/mainForm.arhxvo.css" rel="prefetch"><link href="/mainForm.arhxvo.js" rel="prefetch"><link href="/mainLoading.arhxvo.css" rel="prefetch"><link href="/mainLoading.arhxvo.js" rel="prefetch"><link href="/mainMain.arhxvo.css" rel="prefetch"><link href="/mainMain.arhxvo.js" rel="prefetch"><link href="/mainSteps.arhxvo.css" rel="prefetch"><link href="/mainSteps.arhxvo.js" rel="prefetch"><link href="/mainTable.arhxvo.css" rel="prefetch"><link href="/mainTable.arhxvo.js" rel="prefetch"><link href="/mainTimepicker.arhxvo.js" rel="prefetch"><link href="/chunk-common.arhxvo.js" rel="preload" as="script"><link href="/chunk-vendors.arhxvo.css" rel="preload" as="style"><link href="/chunk-vendors.arhxvo.js" rel="preload" as="script"><link href="/main.arhxvo.js" rel="preload" as="script"><link href="/chunk-vendors.arhxvo.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>
<script type="text/javascript" src="/chunk-vendors.arhxvo.js"></script><script type="text/javascript" src="/chunk-common.arhxvo.js"></script><script type="text/javascript" src="/main.arhxvo.js"></script></body>
</html>
