@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Html.Partial("_CacheController")
    <title></title>
<link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.hdshkn.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~loginLogin~mainConfirm~mainForm~regist-Agr~b8d66a9b.hdshkn.js" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.hdshkn.css" rel="prefetch"><link href="/admin-Audit~admin-Registed~admin-Registration~admin-Users~mainTable.hdshkn.js" rel="prefetch"><link href="/admin-Registration~mainForm.hdshkn.css" rel="prefetch"><link href="/admin-Registration~mainForm.hdshkn.js" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.hdshkn.css" rel="prefetch"><link href="/admin-Registration~mainForm~mainTimepicker.hdshkn.js" rel="prefetch"><link href="/mainApi.hdshkn.js" rel="prefetch"><link href="/mainApi~mainConfirm~mainDialog~mainForm~mainLoading~mainMain~mainSteps~mainTable~mainTimepicker.hdshkn.js" rel="prefetch"><link href="/mainConfirm.hdshkn.js" rel="prefetch"><link href="/mainDialog.hdshkn.css" rel="prefetch"><link href="/mainDialog.hdshkn.js" rel="prefetch"><link href="/mainForm.hdshkn.css" rel="prefetch"><link href="/mainForm.hdshkn.js" rel="prefetch"><link href="/mainLoading.hdshkn.css" rel="prefetch"><link href="/mainLoading.hdshkn.js" rel="prefetch"><link href="/mainMain.hdshkn.css" rel="prefetch"><link href="/mainMain.hdshkn.js" rel="prefetch"><link href="/mainSteps.hdshkn.css" rel="prefetch"><link href="/mainSteps.hdshkn.js" rel="prefetch"><link href="/mainTable.hdshkn.css" rel="prefetch"><link href="/mainTable.hdshkn.js" rel="prefetch"><link href="/mainTimepicker.hdshkn.js" rel="prefetch"><link href="/chunk-common.hdshkn.js" rel="preload" as="script"><link href="/chunk-vendors.hdshkn.css" rel="preload" as="style"><link href="/chunk-vendors.hdshkn.js" rel="preload" as="script"><link href="/main.hdshkn.js" rel="preload" as="script"><link href="/chunk-vendors.hdshkn.css" rel="stylesheet"></head>
<body>
    <script>
        window.devp = false
        window.basePath = "@Url.Content("~/")"
    </script>
    <div id="app"></div>
<script type="text/javascript" src="/chunk-vendors.hdshkn.js"></script><script type="text/javascript" src="/chunk-common.hdshkn.js"></script><script type="text/javascript" src="/main.hdshkn.js"></script></body>
</html>
