@model vaccine.web.Controllers.AuthorizeController.TpwvOauthResult
@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_CacheController")
    <meta http-equiv="refresh" content="0; url=@Model.RedirectTo" />
</head>
<body>
    @Model.Message
</body>
</html>
